In [ ]:
dados_clientes = {
    'Nome':'Barbara',
    'Enderço':'Rua Elizeu Di Bernardi',
    'Telefone':'4899999999'
}

In [ ]:
nome = dados_clientes['Nome']
print(nome)

Barbara

Adicionar

In [ ]:
dados_clientes['Estado'] = 'SC'

In [ ]:
dados_clientes

{'Nome': 'Barbara',
 'Enderço': 'Rua Elizeu Di Bernardi',
 'Telefone': '4899999999',
 'Estado': 'SC'}

Excluir

In [ ]:
del dados_clientes['Estado']

In [ ]:
dados_clientes

{'Nome': 'Barbara',
 'Enderço': 'Rua Elizeu Di Bernardi',
 'Telefone': '4899999999'}

CONDICIONAIS

In [ ]:
animals = ['lion','dog','cat']
if animals[0] !='lion':
  animals.append('fish')
elif animals[1] == 'dog':
  animals.append ('bird')
else:
  animals.append('tiger')

print(animals)

['lion', 'dog', 'cat', 'bird']

ESTRUTURA DE REPETIÇÕES

In [ ]:
#loops usando for

numbers = [1,2,3,4,5]
for number in numbers:
  print(number)

1
2
3
4
5

In [ ]:
pessoas = [({'nome':'Barbara','cidade':'RJ'}), ({'nome':'George','cidade':'Fpolis'}), ({'nome':'Gene','cidade':'BA'})]
contador = 0

for p in pessoas:
  print(p)

{'nome': 'Barbara', 'cidade': 'RJ'}
{'nome': 'George', 'cidade': 'Fpolis'}
{'nome': 'Gene', 'cidade': 'BA'}

In [ ]:
pessoas = [({'nome':'Barbara','cidade':'RJ'}), ({'nome':'George','cidade':'Fpolis'}), ({'nome':'Gene','cidade':'BA'})]
contador = 0

for p in pessoas:
  contador +=1
  print(contador)
  if p['nome']=='George':
    print(p['nome'], 'mora em',p['cidade'])
    break

1
2
George mora em Fpolis

FUNÇÕES

In [ ]:
def calcular_pagamento(qtd_horas,valor_hora):
  if qtd_horas < 40:
    salario = qtd_horas * valor_hora
  else:
    qtd_horas_exc = qtd_horas - 40
    salario = 40 * valor_hora + (qtd_horas_exc * (1.5 *valor_hora))
  return salario

In [ ]:
horas_trabalhadas = 45
valor = 100
total_salario = calcular_pagamento(horas_trabalhadas,valor)
print(total_salario)

4750.0